In [50]:
import pandas as pd
df= pd.read_csv("spotify_millsongdata.csv")

In [51]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [52]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [53]:
df.shape

(57650, 4)

In [54]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [55]:
df= df.sample(2000).drop('link', axis=1).reset_index(drop=True)

In [56]:
df.head(5)

,artist,song,text
0,Pogues,South Australia,"In South Australia I was born, heave away, hau..."
1,Sam Smith,Together,Kiss my lips and taste the Sauvignon \r\nI wr...
2,Ten Years After,You Can't Win Them All,You can't win them all \r\n'Cause sometimes y...
3,Gordon Lightfoot,I'll Prove My Love,Any way the wind may blow \r\nAny way the cre...
4,Doobie Brothers,Eyes Of Silver,Eyes of silver hungry and aware \r\nEyes of s...

In [57]:
df['text'][0]

"In South Australia I was born, heave away, haul away  \r\nIn South Australia, 'round Cape Horn, we're bound for South Australia  \r\n  \r\nHaul away your rolling king, heave away, haul away  \r\nHaul away, you'll hear me sing, we're bound for South Australia  \r\n  \r\nAs I walked out one morning fair, heave away, haul away  \r\n'Twas there I met Miss Nancy Blair, we're bound for South Australia  \r\n  \r\nThere's just one thing that's on my mind, heave away, haul away  \r\nThat's leaving Nancy Blair behind, we're bound for South Australia  \r\n  \r\nAnd as we wallop round Cape Horn, heave away, haul away  \r\nYou'll wish to God you've never been born, we're bound for South Australia  \r\n  \r\nIn South Australia I was born, heave away, haul away  \r\nIn South Australia, 'round Cape Horn, we're bound for South Australia\r\n\r\n"

In [58]:
df.shape

(2000, 3)

Text Preprocessing

In [59]:
df['text']= df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', ' ', regex=True)

In [60]:
df.tail(5)

,artist,song,text
1995,Smiths,Nowhere Fast,i'd like to drop my trousers to the world \r ...
1996,Randy Travis,A Gift Of Love,when you were born \r there in your mother's ...
1997,Bruce Springsteen,Lucky Town,house got too crowded clothes got too tight \...
1998,Tracy Chapman,In The Dark,make me fumble \r make me fall \r make my he...
1999,P!nk,Good Old Days,"1, 2, 3, 4, 5 years go by, \r i don't really ..."

In [61]:
import nltk
from nltk.stem.porter import PorterStemmer

In [62]:
stemmer= PorterStemmer()

In [63]:
def token (txt):
    token= nltk.word_tokenize(txt)
    a= [stemmer.stem(w) for w in token]
    return " ".join(a)

In [64]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [65]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [66]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [67]:
df['text'].apply(lambda x: token(x))

0       in south australia i wa born , heav away , hau...
1       kiss my lip and tast the sauvignon i wrap the ...
2       you ca n't win them all 'caus sometim you fall...
3       ani way the wind may blow ani way the creek ma...
4       eye of silver hungri and awar eye of silver , ...
                              ...
1995    i 'd like to drop my trouser to the world i am...
1996    when you were born there in your mother 's arm...
1997    hous got too crowd cloth got too tight and i d...
1998    make me fumbl make me fall make my heart stop ...
1999    1 , 2 , 3 , 4 , 5 year go by , i do n't realli...
Name: text, Length: 2000, dtype: object

In [68]:
tfid= TfidfVectorizer(analyzer='word', stop_words='english')

In [69]:
matrix= tfid.fit_transform(df['text'])

In [70]:
similar= cosine_similarity(matrix)

In [71]:
similar[0]

array([1.00000000e+00, 6.15540495e-04, 9.77029413e-03, ...,
       1.75009912e-03, 7.80175153e-04, 6.78174491e-03])

In [73]:
df[df['song']== 'Nowhere Fast'].index[0]

1995

Recommender fucntion

In [79]:
def recommender(song_name):
    idx = df[df['song']== song_name].index[0]
    distance= sorted(list(enumerate(similar[idx])), reverse=True, key= lambda x:x[1])
    song= []
    for s_id in distance[1:12]:
        song.append(df.iloc[s_id[0]].song)                                                                                          
    return song

In [80]:
recommender("Nowhere Fast")

['Southern Ballad',
 'So Sad',
 "Can't Smile Without You",
 'All The Way From New York',
 'Life After Death',
 "Sad Lookin' Moon",
 'Rock Stop',
 'Am I Ever Gonna Change',
 'We Love You',
 'One Good Woman',
 'On This Day']

In [81]:
import pickle

In [82]:
pickle.dump(similar, open("similarity", "wb"))

In [83]:
pickle.dump(df, open("df", "wb"))